@use '../../node_modules/semantic-forms/dist/semantic-forms.css';
@use "helpers";

/* global styles */

html {
  height: 100vh;
}

@view-transition { /* enable multi-page view transitions */
  navigation: auto;
}

body {
  --noDramaBgColor: #fff;
  --noDramaTextColor: #000;
  --noDramaChatBubbleFontSize: 14px;
  --noDramaChatBubbleBgColor: #eee;
  --noDramaFontFamily: "Verdana", "Helvetica", "Arial", sans-serif;
  --noDramaThinkingTextColor: #1e1e1e;

  height: 100%;
  font-family: var(--noDramaFontFamily);
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: var(--noDramaBgColor);
  color: var(--noDramaTextColor);
  color-scheme: light;
}

@mixin dark-mode {
  --noDramaBgColor: #1f1f1f;
  --noDramaTextColor: #fff;
  --noDramaChatBubbleBgColor: #555;
  --noDramaThinkingTextColor: #bababa;

  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-mode;
  }
}

body.js {
  article#chat {
    height: 100%;
    overflow: hidden;
  }

  section#chatHistory {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
  }

  form.semanticForms {
    padding: 8px;
    width: inherit;

    fieldset {
      margin-bottom: 0;
    }

    dl div dd {
      flex-direction: row;
    }

    textarea[name=prompt] ~ button.clear {
      right: 60px;
    }

    button#send {
      display: grid;
      place-items: center;
      padding: 0 10px;
      height: var(--semanticFormsInputHeight);
      align-self: end;
    }
  }

  article.prompt:first-of-type {
    margin-top: auto;
  }
}

main {
  height: 100%;
}

img {
  border: 5px #000 dotted;
}

article#chat {
  display: flex;
  flex-direction: column;
}

section#chatHistory {
  display: flex;
  flex-direction: column;
}

section#chatHistory {
  padding-bottom: 15px;

  article.prompt,
  article.response {
    background-color: var(--noDramaChatBubbleBgColor);
    font-size: var(--noDramaChatBubbleFontSize);
    padding: 15px;
    max-width: 50%;
    border-radius: 15px;
    margin-bottom: 15px;

    p {
      margin: 0;
    }
  }

  details.thinking {
    font-size: 0.9rem;
    max-width: 50%;
    color: var(--noDramaThinkingTextColor);
    font-style: italic;

    summary {
      cursor: pointer;
      font-style: normal;
    }
  }

  // place prompts on the right side of the screen
  article.prompt {
    clear: both;
    align-self: end;
  }

  // place responses on the left side of the screen
  article.response,
  details.thinking {
    position: relative;
    align-self: start;
    text-align: left;

    pre {
      white-space: pre-wrap;
    }
  }
}

// select#thinking, select#model {
//   width: max-content;
// }

// TODO: in js-only mode, anchor prompt form to the bottom of the screen with position fixed and keep chat history scrolled to the bottom above it
