@use '../../node_modules/semantic-forms/dist/semantic-forms.css';
@use "helpers";

/* global styles */

html {
  height: 100vh;
}

@view-transition { /* enable multi-page view transitions */
  navigation: auto;
}

body {
  height: 100%;
  font-family: sans-serif;
  color: #100;
}

body.js {
  article#chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  section#chatHistory {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
  }

  article.prompt:first-of-type {
    margin-top: auto;
  }
}

main {
  height: 100%;
}

img {
  border: 5px #000 dotted;
}

section#chatHistory {
  padding-bottom: 15px;

  article.prompt,
  article.response {
    background-color: #eee;
    padding: 15px;
    max-width: 50%;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  article.prompt {
    clear: both;
    align-self: end; // should be on the right side of the screen
  }

  article.response {
    clear: both;
    align-self: start; // should be on the left side of the screen
    text-align: left;
  }

  progress {
    margin-bottom: 15px;
  }
}

// select#thinking, select#model {
//   width: max-content;
// }

// TODO: in js-only mode, anchor prompt form to the bottom of the screen with position fixed and keep chat history scrolled to the bottom above it
